@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    /*Primary*/
    --cream: hsl(30, 38%, 92%);
    --darkCyan: hsl(158, 36%, 37%);

    /*Neutral*/
    --backgroundWhite: hsl(0, 0%, 100%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 326px auto;
}

.principal-container{
    width: 602px;
    height: 451px;
    background-color: var(--backgroundWhite);
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}

.product-img{
    width: 302px;
    height: 451px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.product-info{
    width: 302px;
    height: 451px;
    padding: 30px 27px;
}

.product-desc{
    width: 224px;
    height: 89px;
}

h2{
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 6px
}

p, h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--darkGrayishBlue);
    line-height : 25px;
}

#principal-title{
    width: 189px;
    font-family: 'Fraunces', sans-serif;
    padding: 15px 0;
    font-size: 30px;
    line-height : 30px;
}

.price{
    padding: 35px 0 20px 0;
    display: flex;
    gap: 20px;
}

#price-final{
    color: var(--darkCyan);
    font-size: 30px;
    font-family: 'Fraunces', sans-serif;
    margin: 0 0 15px 0;
}

#price-original{
    text-decoration: line-through;
}

button{
    width: 235px;
    height: 45px;
    background-color: var(--darkCyan);
    color: var(--backgroundWhite);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    align-items: center;
}


#img-cart{
    width: 15px; 
    height:15px; 
    background-image: url("./images/icon-cart.svg");
    background-size: cover;
    overflow: hidden;
}

button:hover{
    background-color: var(--veryDarkBlue);
}

/*Footer*/
.attribution{ 
    font-size: 11px; text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}


@media (max-width: 375px) {
    body {
      background-color: lightblue;
    }

    .principal-container{
        width: 342px;
        height: 609px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .product-img{
        width: 342px;
        height: 239px;
        background-image: url(./images/image-product-mobile.jpg);
        border-radius: 10px 10px 0 0;
    }

    .product-desc{
        width: 293px;
        height: 81px;
    }

    .product-info{
        width: 343px;
        height: 370px;
        padding: 20px 20px;
    }

    #principal-title{
        width: 277px;
        padding: 10px 0;
        font-size: 30px;
        line-height : 30px;
    }

    button{
        width: 295px;
        height: 45px;
    }

    .price{
        padding: 40px 0 10px 0;
    }
    
} 